<!-- <div ng-include="'app/components/navbar/navbar.html'"></div>
 -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
       <div class="list-admin-users">
          <ul>
          <h2>Todos los Usuarios</h2>
            <li ng-repeat="user in users">
              <p>{{ user.name }}  -  {{ user.email }}
                <button ng-click="deleteUser(user)"
                            class="btn btn-sm btn-warning"
                            data-title="BORRAR usuario  -  no se puede desechar"
                            bs-tooltip>BORRAR</button>
              </p></li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">
        <h2>Todos Los Heroes</h2>
            <div class="panel panel-default">
              <div class="panel-body listing-images-admin">
              <ul class="dynamic-grid angular-grid"
                    angular-grid="heroes"
                    grid-width="150"
                    gutter-size="10"
                    angular-grid-id="gallery"
                    refresh-on-img-load="true">
     <li data-ng-repeat="heroe in heroes"
          class="grid"
          ng-cloak>
        <a class="heroeLink"
             ng-click="editHeroe(heroe)"
             data-template-url="app/admin/remove_heroe_modal.html"
             data-animation="am-fade-and-scale"
             bs-modal="showModal">
          <img ng-src="{{ heroe.image }}"
                  class="grid-img"
                  data-actual-width="{{ heroe.actualWidth }}"
                  data-actual-height="{{ heroe.actualHeight }}" /></a>
          <div class="titleClass">
            {{ heroe.title }}
          </div>
      </li>
    </ul>
                </div>
              </div>
          </div>
       </div>
    </div>