.list-admin-users li {
  list-style: none;
  margin-bottom: 20px;
  text-align: left;
}

.list-admin-users ul {
  padding: 0;
}

.list-admin-users button {
  margin-left: 5px;
}

.listing-images-admin img {
  max-height: 150px;
  max-width: 150px;
}

.listing-delete-btn button {
  margin-left: 15px;
}