<div class="container">
      <!-- Search, and Upload Button -->
      <div id="searchFilterWrap">
        <form id="searchForm">
          <input type="text"
                    id="searchBox"
                    placeholder="Search by title"
                    ng-model="searchTxt"
                    ng-model-options="{debounce : 600}" />
        </form>

        <div class="modal-backdrop-am-fade"
              id="sortByWrap">
          Sort By : <i class="fa fa-calendar"
                            ng-click="sortByTime()"></i>
                        <i class="fa fa-thumbs-up"
                            ng-click="sortByLikes()"></i>

          <button class="btn btn-primary"
                      data-animation="am-fade-and-scale"
                      data-placement="center"
                      data-template-url="app/main/addHeroeModal.html"
                      bs-modal="showModal">Añade tu heroe</button>
            </div>
          </div>

  <!-- Angular Grid -->
  <div class="container">
    <ul class="dynamic-grid angular-grid"
          angular-grid="heroes"
          grid-width="275"
          gutter-size="10"
          angular-grid-id="gallery"
          refresh-on-img-load="true">
     <li data-ng-repeat="heroe in heroes track by $index"
          class="grid"
          ng-cloak>
        <a ui-sref="heroe ({ heroeId: heroe._id })"
            class="heroeLink">
          <img ng-src="{{ heroe.image }}"
                  class="grid-img"
                  data-actual-width="{{ heroe.actualWidth }}"
                  data-actual-height="{{ heroe.actualHeight }}" />
          <div class="heroe-description-trim">
            {{ heroe.description.substr(0,100) }}
          </div>

          <div class="titleClass">
            {{ heroe.title }}
          </div>
        </a>
        <div class="social">
        <a href="#"
             class="like-heroe"
             ng-click="addVote(heroe)">
          <i class="fa fa-thumbs-o-up fa-2x icon-like"></i></a>
            <span class="likeCount">{{ heroe.upVotes }}</span>

            <span class="viewCount pull-right">{{ heroe.views }}</span>
          <i class="fa fa-eye fa-2x pull-right icon-views"></i>

        </div>
      </li>
    </ul>
    <div ng-show='busy'>Loading data...</div>
  </div>
</div>